<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row">
</div>
<div class="container" style="margin-top: 4px;">
<hr>
    <div class="row">
        <div id="footer" class="col-xs-12 col-md-offset-1 col-md-10 text-center">
            <p>The website owner is Jinho Jang.
                / <strong>COPYRIGHT &copy; 2021. JinHo Jang</strong><br>
                <code style="cursor: pointer" onclick="window.open('https://github.com/ses9892/Libraryapplication');">
                    https://github.com/ses9892/Libraryapplication
                </code>
        </div>
    </div>
</div>
<script th:inline="javascript">
    //번역 버튼 toggle + 번역 location
    $(function (){
        var lang = /*[[${#locale.getLanguage()}]]*/
        var size = $('a[name=lang]').length;
        if(window.location.pathname.match("/user-service/")){
            $('#footer').prop("class","col-xs-12 col-md-10 text-center")
        }
        for(i=0; i<size;i++){
            if($('a[name=lang]')[i].classList.contains("active")){
                $('a[name=lang]')[i].classList.remove("active");
            }
        }
        for(i=0; i<size;i++){
            if(lang.match($('a[name=lang]')[i].id)){
                $('a[name=lang]')[i].classList.add('active');
            }
        }
        $('a[name=lang]').on('click',function (){
            var param=window.location.search
            console.log(this);
            if(param.length>0){
                var location;
                if(param.match("lang")) {
                    if (param.match("kr")) {
                        location=param.replace("lang=kr", "lang="+this.id);
                    } else if (param.match("en")) {
                        location=param.replace("lang=en", "lang="+this.id);
                    } else if (param.match("ja")) {
                        location = param.replace("lang=ja", "lang="+this.id);
                    }
                window.location.href=window.location.pathname+location;
                    return null;
                }
                window.location.href=window.location.href+'&lang='+this.id;
                return null;
            }
            window.location.href='?lang='+this.id;
        })
    })
    function tokCookReset(){
        localStorage.removeItem("jwt");
        localStorage.removeItem("rememberId");
        return true;
    }
    function myPage (){
        if(localStorage.getItem("jwt")==null){
            alert('정상적인 로그인후 마이페이지를 이용해주세요!');
            $('#logOut').click();
            return false;
        }
        $('#Token').val(localStorage.getItem('jwt'));
        return true;
    }
</script>
<script th:src="@{/js/Token.js}"></script>
<script th:src="@{/js/bookAction.js}"></script>
<script th:src="@{/js/userAction.js}"></script>
</body>
</html>