<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10 text-center">
            <p>I created this because I loved the design done by <a th:href="@{http://bootsnipp.com/maridlcrmn}" target="_blank">maridlcrmn</a> on her <a href="http://bootsnipp.com/snippets/ZkpRl" target="_blank">Toggle navbar</a> but wanted a fancier slide down naviation when you click on the toggle button. However my code does come with a limitation, you will not be able to use dropdowns within your navigation if using this method because <code>overflow</code> is set to <strong>hidden</strong>. You can see this in action by trying to use the very last navigation on this snippet.</p>
        </div>
    </div>
</div>
<div class="modal fade" id="chatwindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelResult">1:1 상담</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 chating">
                    <h3>채팅</h3>
                            <div id="chating" class="chating">
                            </div>
                    </div>
                </div>
                <div id="yourMsg">
                    <div class="form-group">
                        <label style="display: block;">메세지</label>
                        <input class="form-control" id="chatting" placeholder="보내실 메시지를 입력하세요." style="width: 80%;margin-right: 5px; float: left">
                        <button class="btn btn-danger" onclick="send()" id="sendBtn" style="width: 18%">보내기</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/chat.js}"></script>
<script th:src="@{/js/Token.js}"></script>
<script th:src="@{/js/bookAction.js}"></script>
<script th:src="@{/js/userAction.js}"></script>
</body>
</html>