<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{//code.jquery.com/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">

    <!-- Second navbar for sign in -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/library" th:text="${#messages.msg('library.title')}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/library}" th:text="${#messages.msg('library.home')}"></a></li>
                    <li><a name="btn-save" th:text="${#messages.msg('library.bookRegister')}"></a></li>
                    <li><a th:href="@{/library/list/all}" th:text="${#messages.msg('library.bookLending')}"></a></li>
                    <li>
                        <a class="collapsed" id="mutifulLang"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3"
                           th:text="${#messages.msg('library.convert')}">
                        </a>
                    </li>
                    <li>
                        <a th:text="${#messages.msg('library.chat')}" id="nav_chat"></a>
                    </li>
                    <li><a name="myPage" th:text="${#messages.msg('library.mypage')}"></a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" id="logOut" class="btn btn-default btn-outline btn-circle">
                                LogOut
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="collapse nav navbar-nav nav-collapse slide-down justify-content-center" id="nav-collapse3" style="z-index: 2">
                <form class="navbar-form" role="search">
                    <ul class="centered text-center">
                        <div class="form-group">
                            <a href="?lang=kr" class="btn btn-default btn-circle active">한국어</a>
                            <a href="?lang=ja" class="btn btn-default btn-circle">日本</a>
                            <a href="?lang=en" class="btn btn-default btn-circle">English</a>
                        </div>
                        <div class="form-group" style="float: right">
                            <a class="btn btn-danger collapsed"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">닫기</a>
                        </div>
                    </ul>
                </form>
            </div>
        </div><!-- /.navbar-collapse -->

    </nav>
</div><!-- /.container -->
</body>
<script>
    var userId;
    var ws;
    $(function (){
        $('#nav_chat').click(function (){
            $.ajax({
                type: "GET",
                url: "/chat/setnick",
                async: false,
                headers: {
                    'content-type': 'application/json',
                    'Authorization': 'bearer' + localStorage.getItem('jwt')
                },
                contentType: 'application/json; charset=utf-8'
            }).success(function (data){
                userId = data;
                wsOpen(userId);
            }).error(function (error){
                alert(error.responseJSON.message);
                location.href="/logout";
            })
        })
    })
    function wsOpen(userName){
        // ws = new WebSocket("ws://" + location.host + "/chating/"+$('#roomNumber').val());   //ws 로딩
        ws = new WebSocket("ws://" + location.host + "/chating/"+userId+"/toolbar");   //ws 로딩
        wsEvt();
    }
    function wsEvt() {
        //메세지가 소켓에 담겨졌을때 실행할 function
        ws.onmessage = function(data) {
            console.log(data);
            var msg = data.data;
            var d= JSON.parse(msg);
            if(d.type=='duplicatonSession'){
                alert('채팅창이 이미 실행되어있습니다.');
            }else{
                location.reload();
                window.open("/chat/","Library Chating","top=50,width=850,height=620,resizable=no,menubar=no,directories=no,toolbar=no,location=no");
            }
        }
    }
</script>
</html>