<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="LayOut/header"></div>
<div th:replace="LayOut/mypage"></div>
</div><!-- /.container-fluid -->
<div class='span8 main'>
    <input type="hidden" name="flag" value="infoChange">
    <form th:action="@{'/user-service/user/'+${user.userId}}" method="post">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-5 col-sm-6">
            <div class="well login-box">
                <legend style="text-align: center">자동반납 설정</legend>
                <div class="form-group text-center" style="background-color: white; border: 1px solid #000000">
                    <label>자동반납</label><br><br>
                    <th:block th:if="${user.autoReturn}">
                        <label for="auto">자동</label>
                        <input type="radio" id="auto" name="autoReturn" value="true" th:checked="checked">
                        <label for="passive">수동</label>
                        <input type="radio" id="passive" name="autoReturn" value="false" >
                    </th:block>
                    <th:block th:if="${!user.autoReturn}">
                        <label for="auto">자동</label>
                        <input type="radio" id="auto" name="autoReturn" value="true">
                        <label for="passive">수동</label>
                        <input type="radio" id="passive" name="autoReturn" value="false" th:checked="checked">
                    </th:block>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-danger btn-cancel-action" onclick="history.back();">돌아가기</button>
                    <input type="submit" class="btn btn-success btn-login-submit" value="수정"/>
                </div>
            </div>
        </div>
    </form>

<div th:replace="LayOut/footer"></div>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
</div>
</html>