<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="LayOut/header"></div>
<div th:replace="LayOut/mypage"></div>
</div><!-- /.container-fluid -->
<div class='span8 main'>
    <form th:action="@{'/user-service/user/'+${user.userId}}" method="post" onsubmit="return check()" >
        <div class="panel panel-default">
            <div class="panel-heading">Info</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12"><strong>성명</strong></div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="name" th:value="${user.name}" readonly />
                        <input type="hidden" name="idx" th:value="${user.idx}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>ID</strong></div>
                    <div class="col-md-12">
                        <input type="text" name="userId" class="form-control" th:value="${user.userId}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-xs-12">
                        <strong>비밀번호</strong>
                        <input type="password" name="pwd" class="form-control" th:value="null" />
                    </div>
                    <div class="span1"></div>
                    <div class="col-md-6 col-xs-12">
                        <strong>비밀번호 확인</strong>
                        <input type="password" name="pwdCheck" class="form-control" th:value="null" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>Email</strong></div>
                    <div class="col-md-12">
                        <input type="text" name="email" class="form-control" th:value="${user.email}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>P.H</strong></div>
                    <div class="col-md-12">
                        <input type="text" name="phone" class="form-control" th:value="${user.phone}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6"><strong>대출 도서</strong></div>
                    <div class="col-md-6"><strong>가입 날짜</strong></div>
                    <div class="col-md-6"><input type="text" name="borrowed_book" class="form-control" th:value="${user.borrowed_book} +'권'"
                                                 readonly/></div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" th:value="${#dates.format(user.createdAt,'yyyy-MM-dd')}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-default" value="수정하기">
                    </div>
                </div>
            </div>
    </form>
</div>
<script>
    function check() {
        var pwd = $('input[name=pwd]').val();
        var pwdCheck = $('input[name=pwdCheck]').val();
        if(pwd.trim().length==0 && pwdCheck.trim().length==0){
            alert('비밀번호를 작성해주세요');
            $('input[name=pwd]').val("").focus();
            return false;
        }
        if(pwd!=pwdCheck){
            alert('비밀번호가 서로 일치하지 않습니다.');
            $('input[name=pwd]').val("").focus();
            $('input[name=pwdCheck]').val("");
            return false;
        }
        return true;
    }
</script>
<div th:replace="LayOut/footer"></div>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
</html>
