<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="LayOut/header"></div>
<div th:replace="LayOut/mypage"></div>
</div><!-- /.container-fluid -->
<div class='span8 main' style="padding-left: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3"></div>
            <div class="[ col-sm-6 col-md-4 ]">
                <div class="[ info-card ]">
                    <img style="width: 100%" th:src="@{/img/userImg.png}" alt="tq">
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1 th:text="${user.userId}"></h1>
                            <h3 th:if="${user.role.equals('ROLE_USER')}">일반 사용자</h3>
                            <h3 th:if="${user.role.equals('ROLE_ADMIN')}">운영자</h3>
                        </div>
                        <div class="[ info-card-detail ]">
                            <!-- Description -->
                            <p>
                                가입일자 : <strong th:text="${user.createdAt}"></strong>
                            </p>
                            <p>
                                P.H : <strong th:text="${user.phone}"></strong>
                            </p>
                            <p>
                                이메일 : <strong th:text="${user.email}"></strong>
                            </p>
                            <p>
                                대여도서 : <strong th:text="${user.borrowed_book}+'권'"></strong>
                            </p>
                            <p>
                                자동반납 :
                                <strong th:if="${user.autoReturn}" th:text="허용"></strong>
                                <strong th:if="${!user.autoReturn}" th:text="거부"></strong>
                            </p>
                            <input class="btn btn-default btn-circle" type="button" value="프로필 사진 변경" onclick="alert('미구현입니다')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="LayOut/footer"></div>
</div>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
</html>