<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="LayOut/header"></div>
<div th:replace="LayOut/mypage"></div>
<input type="hidden" name="flag" th:value="${flag}">
</div><!-- /.container-fluid -->
<div class='span8 main'>
    <div class="col-lg-3 col-sm-2"></div>
    <div class="col-lg-5 col-sm-6">
        <div class="well login-box">
            <legend style="text-align: center">비밀번호 확인</legend>
            <div class="form-group">
                <label for="user-password" th:text="Password"/>
                <input id="user-password" value='' th:placeholder="Password" th:type="password" class="form-control" required="required"/>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-danger btn-cancel-action" onclick="history.back();" th:text="돌아가기"></button>
                <input type="button" class="btn btn-success btn-login-submit" id="user-pwdCheck" th:value="확인"/>
            </div>
        </div>
    </div>
<div th:replace="LayOut/footer"></div>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/mypage.css}">